nav.navbar{
    background-color: #085E7D;
}

main div.bg-dark, footer.bg-dark{
    background-color: #085E7D !important;
}

main div.card img.card-img-top{
    width: 100%;
    height: 25vh;
    object-fit: cover; /*bcg-cover ile aynı işi yapıyor.*/
}

#map{
    height: 450px;
}

@media (min-width: 768px){
    main div.card img.card-img-top{
        height: 32vh;
    }
    #map{
        height: 100%;
    }
}